<div class="search-row">
  <div class="search-input">
    <input
      placeholder="Search for a place..."
      [(ngModel)]="q"
      (keyup.enter)="search()"
    />
    <img class="search-icon" src="assets/icon-search.svg" alt="" />
  </div>
  <button class="search-btn" (click)="search()">Search</button>
</div>

<div class="results" *ngIf="results().length">
  <div class="card list">
    <div class="item" *ngFor="let p of results()" (click)="pick(p)">
      {{ p.name }}, {{ p.country }}
    </div>
  </div>
</div>
